<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>Cognito</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>eu-west-1</string>
			</dict>
		</dict>
		<key>CognitoUserPool</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>CognitoUserPoolAppClientId</key>
				<string>3mip9nrd4spa1n2elmftc5gcqg</string>
				<key>CognitoUserPoolAppClientSecret</key>
				<string>44u9jj9o2ipo1av50ise7ofh7rjfpf5ooqk39tsp7bplrcler9v</string>
				<key>CognitoUserPoolId</key>
				<string>eu-west-1_EIdjGtWLK</string>
				<key>Region</key>
				<string>eu-west-1</string>
			</dict>
		</dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>eu-west-1:64a9de95-136c-4ba3-b366-6aa4079fef8b</string>
					<key>Region</key>
					<string>eu-west-1</string>
				</dict>
			</dict>
		</dict>
		<key>IdentityManager</key>
		<dict>
			<key>Default</key>
			<dict/>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub eb927c03-2bbc-4c9f-9513-7187554a44a9 aws-my-sample-app-ios-swift-v0.18</string>
		</dict>
		<key>PinpointAnalytics</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppId</key>
				<string>04c3164e32834bd6ae64fde8bbf0a5ac</string>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>PinpointTargeting</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>UserFileManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>eu-west-1</string>
				<key>S3Bucket</key>
				<string>wegoloco-userfiles-mobilehub-945193520</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.amazon.MySampleApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1875536299433780</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>1875536299433780</string>
	<key>FacebookDisplayName</key>
	<string>MySampleApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>cloudfront.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To select a file to upload.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>SignIn</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
